  <div>
  <input type="text" class="form-control form-control-lg" data-ng-model="srching" placeholder="Enter Id">
  <button data-ng-click="callfunc()">Click</button>
  <table class="table table-dark" >
			<thead>
			    <tr>
			      <th scope="col">Id</th>
			      <th scope="col">Name</th>
			      <th scope="col">Section</th>
			      <th scope="col">Address</th>
			      <th scope="col">City</th>
			    </tr>
			  </thead>
			  <tbody>
		    	<tr>	
			       <td>{{stdn.id}}</td>
			       <td>{{stdn.name}}</td>
			       <td>{{stdn.section}}</td>
			       <td>{{stdn.address}}</td>
			       <td>{{stdn.city}}</td>
		 		</tr>
		 		</tbody>
		    </table>
  
  </div>